@import '../../styles/abstracts/variables.scss';

.mainContainerCardTransaccions{
    width: 100%;
    max-width: 400px;
    height: 275px;
    min-height: 100px;
    background-color: $Light-Black;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    color: $White;
    ::-webkit-scrollbar {
        width: 5px;          
    }
      
    ::-webkit-scrollbar-track {
        background:$White; 
        border-radius: 20px;
        margin-left: 5px;  
    }
      
    ::-webkit-scrollbar-thumb {
        background-color: rgb(22, 21, 21);    
        border-radius: 20px;       

    }
    .titleContainerCardTransaccions{
        text-align: center;
        font-weight: 500;
        font-size: 18px;
    }
    .containerModalTransaccions{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
}
@media(max-width:900px){
    .mainContainerCardTransaccions{
        height: max-content;
        .containerModalTransaccions{
            display: flex;
            flex-direction: column;
            height: max-content;
            overflow-y: initial;
        }
    }

}