@import '../../styles/abstracts/variables.scss';

.mainContainerModalCategory{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    svg{
        font-size: 26px;
        color: $White;
    }
    .containerModalCategory{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        .titleModalCategory{
            color: $White;
            font-size: 24px;
        }
    }
}